/* RESETS */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    display: block;
}

/* Style guide roots */

:root{
    --very-dark-grayis-blue: hsl(217, 19%, 35%);
    --desaturated-dark-blue: hsl(214, 17%, 51%);
    --grayish-blue: hsl(212, 23%, 69%);
    --light-grayish-blue: hsl(210, 46%, 95%);
}

/* CSS Style guide */

html, body{
    overflow-x: hidden;
}

body {
    font-size: 13px;
    font-family: 'Manrope', sans-serif;
    min-height: 100vh;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--very-dark-grayis-blue);
    background-color: var(--light-grayish-blue);
}

main{
    max-width: 767.99px;
    width: 90%;
    max-height: 550px;
    height: 100%;
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
}

/* Image */

.image{
    height: 224px;
    overflow: hidden;
}

.image img{
    width: 100%;
}

/* Text */

.text{
    margin: 2rem;
    margin-bottom: 1rem;
}

h1{
    font-size: 1.3em;
    margin-bottom: 1rem;
}

span{
    color: var(--desaturated-dark-blue);
    line-height: 22px;
    font-size: 1.07em;
}

/* Profile section */

.profile{
    padding-top: 1rem;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile p,
.profile .links{
    display: none;
    height: 0;
    width: 0;
    overflow: hidden;
}

.profile img{
    width: 18%;
    border-radius: 2000px;
}

.photo-and-infos{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.profile-infos{
    display: flex;
    flex-direction: column;
}

/* button */

button{
    position: relative;
    max-height: 40px;
    max-width: 40px;
    height: 100%;
    width: 100%;
    aspect-ratio: 1/1;
    display: flex;
    border: none;
    background: var(--light-grayish-blue);
    border-radius: 2000px;
}

button::after{
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    background: no-repeat url("assets/images/icon-share.svg") top 50% left 50%;
    background-size: 50%;
}

/* Active state */

.active .photo-and-infos{
    height: 0;
    width: 0;
    overflow: hidden;
    display: none;
}

.active p,
.active .links{
    width: auto;
    height: 100%;
    overflow: visible;
    display: block;
}

.active p{
    font-size: 1.4em;
    font-weight: lighter;
    letter-spacing: 5px;
}

.active .links{
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    width: 100%;
}

.active a{
    max-width: 22px;
    max-height: 22px;
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;
    border-radius: 0;
}

.active a img{
    width: 100%;
    height: 100%;
    overflow: visible;
}

.active{
    background: var(--very-dark-grayis-blue);
    color: var(--grayish-blue);
    padding-left: 2rem;
    margin-left: -2rem;
    padding-right: 2rem;
    margin-right: -2rem;
    margin-bottom: -2rem;
    padding-bottom: 2rem;
}

.active .share-div{
    display: flex;
    flex: 2;
    justify-content: space-between;
    align-items: center;
}

.active button{
    position: relative;
    max-height: 40px;
    max-width: 40px;
    height: 100%;
    width: 100%;
    aspect-ratio: 1/1;
    display: flex;
    border: none;
    background: hsl(215, 16%, 52%);
    border-radius: 2000px;
}

.active button::after{
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    -webkit-mask: url("assets/images/icon-share.svg") no-repeat top 50% left 50%;
    mask: url("assets/images/icon-share.svg") no-repeat top 50% left 50%;
    background: white;
    transform: scale(120%);
}

footer {
    margin-top: 1rem;
    color: var(--very-dark-grayis-blue);
}

footer a{
    text-decoration: none;
    font-weight: bold;
    color: #2e6756;
}

@media screen and (min-width: 1103px) {
    /* Main */

    main{
        display: flex;
        max-height: 300px;
        max-width: 60%;
        height: 300px;
        position: relative;
        overflow: visible;
    }

    /* Image */

    .image{
        width: 100%;
        height: 100%;
    }

    .image img{
        object-fit: cover;
        object-position: 0 100%;
        height: 100%;
        border-radius: 15px 0 0 15px;
    }

    /* Text */

    .text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .profile img {
        width: 42px;
        height: 42px;
        border-radius: 2000px;
    }
    
    /* Active state */
    
    .active {
        position: relative;
        background: white;
        color: var(--grayish-blue);
        margin-bottom: -1rem;
        padding-bottom: 1rem;
        border-radius: 0 0 15px;
    }

    .active .photo-and-infos {
        height: 100%;
        width: 100%;
        overflow: visible;
        display: flex;
    }

    .active p,
    .active .links {
        width: auto;
        height: 100%;
        overflow: visible;
        display: block;
    }

    .active p {
        font-size: 1.2em;
    }

    .active .links {
        display: flex;
        gap: 1rem;
    }

    .active a img {
        width: 100%;
        height: 100%;
    }

    .active strong{
        color: var(--very-dark-grayis-blue);
    }


    .active .share-div {
        position: absolute;
        z-index: 10000;
        right: -4.3rem;
        overflow: visible;
        top: -4rem;
        padding: 1rem 2rem;
        border-radius: 10px;
        background-color: var(--very-dark-grayis-blue);
        flex: 0;
        gap: 1rem;
        box-shadow: 0 10px 15px rgba(47, 50, 94, 0.384);
    }

    .active .share-div::after {
        position: absolute;
        content: "";
        width: 0;
        height: 0;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-top: 15px solid var(--very-dark-grayis-blue);
        left: 45%;
        bottom: -0.8rem;
    }
}
